# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore user-specific files
.idea/
.vscode/
